body {
    width: 98%;
    margin: 0 auto;
    /* font-size: 62.5%; */
    font-size: 1.0rem;
    overflow: hidden;
}

#registerForm {
    width: 60%;
    margin: 0 auto;
    margin-top: 6%;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    background-color: #d2a04a;
    background-color: #b98b3b;
    background-color: #063927;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

#registerFormAdm {
    width: 60%;
    margin: 0 auto;
    margin-top: 6%;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    background-color: #cd114a;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

#recommend {
    font-family: monospace;
    font-weight: normal;
    font-size: 1.0rem;
    height: 24px;
    line-height: 32px;
}

#bookmark {
    height: 40px;
    line-height: 40px;
}

a {
    text-decoration: none;
    color: black;
}

#searchPage, #logout, #admButton {
    width: 20%;
    height: 32px;
    display: block;
    border-radius: 16px;
    border: 1.2px solid rgb(128, 125, 125);
    font-size: 0.9rem;
    background-color: #dcdcdc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 1.4%;
    /* left: 2%; */
    z-index: 2;
}

#searchPage {
    left: 2%;
}

#logout {
    right: 2%;
    width: 15%;
    color: white;
    background-color: #585d60;
}

#admButton {
    right: 18%;
    width: 15%;
    color: white;
    background-color: #585d60;
    background-color: #cd114a;
}

#logout a, #admButton a {
    color: white;
}

#searchPage:hover {
    background-color: #585d60;
    opacity: 0.9;
    color: white;
}

#logout:hover, #admButton:hover {
    opacity: 0.7;
}

#searchPage a:hover, #logout a:hover {
    color: white;
}

#form {
    width: 80%;
    /* height: 48vh; */
    margin: 0 auto;
    /* background-color: rgb(223, 217, 217); */
    font-size: 1.0rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%;
    margin-bottom: 4%;
}

#form td {
    border: 1px solid #ddd;
    padding: 10px;
    height: 40px;
}

#form td:nth-child(1) {
    width: 30%;
    border-left: none;
    /* background-color: rgb(244, 239, 239); */
    background-color: #dcc296;
}

#form td:nth-child(2) {
    width: 70%;
    border-right: none;
}

#must {
    background-color: red;
    background-color: #00704A;
    color: white;
    font-size: 0.7rem;
    padding: 2% 4% 2% 4%;
    margin-left: 8%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#optional {
    background-color: rgb(90, 88, 88);
    color: white;
    font-size: 0.7rem;
    padding: 2% 4% 2% 4%;
    margin-left: 8%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#omise, #area, #url, #memo, .userinfo {
    width: 100%;
    height: 32px;
    font-size: 1.0rem;
    border-radius: 5px;
    border: 1.2px solid rgb(128, 125, 125);
}

#situation, #genre {
    width: 60%;
    height: 32px;
    font-size: 1.0rem;
    border-radius: 5px;
    border: 1.2px solid rgb(128, 125, 125);
}

#register {
    width: 40%;
    height: 32px;
    display: block;
    margin: 0 auto;
    border-radius: 16px;
    border: 1.2px solid rgb(128, 125, 125);
    font-size: 0.9rem;
    cursor: pointer;
}

#register:hover {
    background-color: #00704A;
    color: white;
}

#return a {
    text-decoration: none;
}

#return {
    width: 40%;
    height: 32px;
    display: block;
    margin: 0 auto;
    margin-top: 4%;
    border-radius: 16px;
    border: 1.2px solid rgb(128, 125, 125);
    background-color: #efefef;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#return:hover {
    background-color: #00704A;
    background-color: #585d60;
    opacity: 0.9;
    color: white;
}

/* モーダル時の背景設定 */
#modalBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

#confirmDialog {
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 40%;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 11;
    margin: 0 auto;
    text-align: center;
}

#confirmDialog p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#confirmDialog button {
    line-height: 20px;
    width: 40%;
    height: 32px;
    padding: 4px 12px;
    margin-right: 20px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

#confirmDialog button:last-child {
    margin-right: 0;
}

#confirmBtn:hover {
    background-color: #00704A;
    color: white;
}

#cancelBtn:hover {
    opacity: 0.8;
    background-color: #585d60;
    color: white;
}

/* 管理者画面の設定 */
#userTable {
    border-collapse: collapse;
    width: 72%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}

#userTable th, #userTable tr, #userTable td {
    border: 1px solid #dddddd;
}

#userTable th {
    background-color: #585d60;
    color: white;
}

#userTable tr {
    height: 36px;
}

#userTable th:nth-child(1) {
    width: 8%;
}

#userTable th:nth-child(2) {
    width: 28%;
}

#userTable th:nth-child(3) {
    width: 30%;
}

#userTable th:nth-child(4) {
    width: 10%;
}

#userTable th:nth-child(5) {
    width: 14%;
}

#userTable th:nth-child(6) {
    width: 10%;
}

.editButton, .updateButton {
    width: 52%;
    cursor: pointer;
}

.updateButton {
    margin-top: 5%;
}

.cancelButton {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 88%;
    cursor: pointer;
}

.updateButton:hover, .cancelButton:hover {
    background-color: #585d60;
    color: white;
    border: 2px solid #ccc;
    border-radius: 2px;
}

#editInput {
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 1.0rem;
    height: 24px;
}

#editSelect {
    font-size: 1.0rem;
    font-family: Hiragino Kaku Gothic ProN;
    width: 72%;
    height: 30px;
}

.userDelete a {
    text-decoration: none;
    /* color: black; */
}

.userDelete {
    width: 72%;
    cursor: pointer;
}

.userDelete:hover, .userDelete a:hover {
    background-color: #585d60;
    color: white;
}

@media screen and (max-width: 640px) {
    /* 何故か反応せず... */
    #registerForm, #registerFormAdm {
        margin-top: 12%;
        margin-bottom: 0;
        width: 80%;
    }

    #recommend {
        font-size: 0.7rem;
        height: 12px;
        line-height: 20px;
    }

    #bookmark {
        font-size: 0.8rem;
        height: 28px;
        line-height: 28px;
    }

    #searchPage, #logout, #admButton {
        width: 28%;
        font-size: 0.6rem;
        font-weight: bold;
        height: 24px;
    }

    #logout, #admButton {
        width: 20%;
    }

    #admButton {
        right: 24%;
    }

    #form {
        width: 92%;
        font-size: 0.84rem;
    }

    #form td {
        padding: 5px;
        height: 54px;
    }

    #must {
        font-size: 0.64rem;
        padding: 3% 5% 3% 5%;
    }

    #optional {
        font-size: 0.64rem;
        padding: 3% 5% 3% 5%;
    }

    #omise, #area, #url, #memo {
        font-size: 0.8rem;
        width: 94%;
        height: 28px;
    }

    #situation, #genre {
        font-size: 0.8rem;
        width: 84%;
        height: 32px;
    }

    #area::placeholder {
        font-size: 0.64rem;
    }

    #register {
        font-size: 0.7rem;
        width: 48%;
        margin-top: 18px;
    }
    
    #confirmDialog {
        width: 80%;
    }

    #userTable {
        width: 96%;
    }

    #userTable th {
        font-size: 0.7rem;
    }

    #userTable th:nth-child(1) {
        width: 6%;
    }
    
    #userTable th:nth-child(2) {
        width: 24%;
    }
    
    #userTable th:nth-child(3) {
        width: 34%;
    }
    
    #userTable th:nth-child(4) {
        width: 10%;
        font-size: 0.6rem;
    }

    #userTable th:nth-child(5) {
        width: 14%;
    }

    #userTable th:nth-child(6) {
        width: 12%;
    }

    #userTable tr {
        font-size: 0.7rem;
    }

    .editButton, .updateButton, .userDelete {
        font-size: 0.6rem;
        width: 80%;
        padding-left: 0;
        padding-right: 0;
    }

    .cancelButton {
        font-size: 0.4rem;
        padding-left: 0;
        padding-right: 0;
    }

    #editInput, #editSelect {
        width: 90%;
        font-size: 0.7rem;
    }
}