body {
    width: 98%;
    margin: 0 auto;
    /* font-size: 62.5%; */
    font-size: 1.0rem;
    overflow-x: hidden;
}

#searchForm {
    width: 60%;
    margin: 0 auto;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #d2a04a;
    background-color: #b98b3b;
    background-color: #063927;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

#recommend {
    font-family: monospace;
    font-weight: normal;
    font-size: 1.0rem;
    height: 24px;
    line-height: 32px;
}

#bookmark {
    height: 40px;
    line-height: 40px;
}

#registerPage a, #logout a, #admButton a {
    text-decoration: none;
    color: black;
}

#registerPage, #logout, #admButton {
    width: 20%;
    height: 32px;
    display: block;
    border-radius: 16px;
    border: 1.2px solid rgb(128, 125, 125);
    font-size: 0.9rem;
    background-color: #00704A;
    background-color: #dcdcdc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 1.4%;
    /* left: 2%; */
    z-index: 2;
}

#registerPage {
    left: 2%;
}

#logout {
    right: 2%;
    width: 15%;
    color: white;
    background-color: #585d60;
}

#admButton {
    right: 18%;
    width: 15%;
    color: white;
    background-color: #585d60;
    background-color: #cd114a;
}

#logout a, #admButton a {
    color: white;
}

#registerPage:hover {
    background-color: #585d60;
    opacity: 0.9;
    color: white;
}

#logout:hover, #admButton:hover {
    opacity: 0.7;
}

#registerPage a:hover, #logout a:hover {
    color: white;
}

#container {
    display: flex;
    /* background-color: antiquewhite; */
    /* border-radius: 10px; */
}

/* サイドメニューの設定 */
#sidemenu {
    width: 400px;
    height: 72vh;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 18px;
    /* border: 1px solid #ccc; */
    overflow: hidden;
    background-color: rgb(48, 62, 82);
    background-color: #2589d0;
    background-color: rgb(223, 217, 217);
    /* color: white; */
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    left: -400px;
    transition: left 0.5s ease;
}

/* .hidden-menu { */
    /* left: -400px; */
    /* transition: left 0.5s ease; */
/* } */

#menuButton {
    width: 36px;
    height: 36px;
    font-size: 1.4rem;
    color: white;
    background-color: #585d60;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
}

#menuButton:hover {
    opacity: 0.8;
}

fieldset {
    border: none;
    margin: 0;
    /* padding: 0; */
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: white;
    border-radius: 10px;
}

legend {
    width: 100%;
    /* padding-left: 5%; */
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    /* background-color: #00704A; */
    /* color: #2589d0; */
    font-size: 1.0rem;
    color: #1e80c6;
    color: #b98b3b;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
}

fieldset > label {
    font-size: 0.8rem;
    margin-right: 4%;
}

#textKey {
    width: 98%;
    height: 20px;
    border-radius: 5px;
    border: 1.2px solid rgb(128, 125, 125);
}

#andSearch {
    font-size: 0.7rem;
}

#searchButton {
    width: 36%;
    height: 28px;
    border-radius: 10px;
    border: 1.2px solid rgb(128, 125, 125);
    display: block;
    margin: 0 auto;
}

#searchButton:hover {
    background-color: #00704A;
    color: white;
}

#resultField {
    width: 100%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 87%;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 5%;
}

tr, td {
    border: 1px solid #dddddd;
}

#trOmise {
    background-color: #1e80c6;
    background-color: #00704A;
    height: 40px;
    color: white;
}

#tdOmise {
    width: 75%;
}

#tdGenre {
    width: 25%;
}

#divGenre {
    width: 70%;
    height: 26px;
    background-color: white;
    background-color: #14486d;
    background-color: #00704A;
    background-color: #063927;
    font-size: 0.9rem;
    /* color: #1e80c6; */
    border-radius: 10px;
    /* border: 1.2px solid white; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#tdArea {
    width: 50%;
    font-size: 0.9rem;
}

#spanSpace {
    font-size: 0.8rem;
}

#tdSituation {
    width: 15%;
    font-size: 0.9rem;
}

#tdMemo {
    width: 35%;
    font-size: 0.9rem;
}

#trUrl {
    background-color: #eae7e7;
}

#urlCSS {
    color: #1e80c6;
    font-size: 0.8rem;
}

/* 一度クリックしても色が変化しないようにする */
#urlCSS:visited {
    color: #1e80c6;
}

#tdUrl {
    width: 75%;
}

#tdDetail {
    width: 12.5%;
}

#tdDelete {
    width: 12.5%;
}

#divDetail, #divDelete {
    width: 75%;
    height: 20px;
    background-color: #14486d;
    background-color: #585d60;
    background-color: #efefef;
    background-color: white;
    font-size: 0.8rem;
    /* color: #1e80c6; */
    border-radius: 10px;
    /* border: 1.2px solid white; */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#divDetail a, #divDelete a {
    text-decoration: none;
    color: black;
}

#divDetail:hover, #divDelete:hover {
    opacity: 0.9;
    background-color: #585d60;
}

#divDetail:hover a, #divDelete:hover a {
    color: white;
}

/* モーダル時の背景設定 */
#modalBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

#confirmDialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 40%;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 11;
    margin: 0 auto;
    text-align: center;
}

#confirmDialog p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#confirmDialog button {
    line-height: 20px;
    width: 40%;
    height: 32px;
    padding: 4px 12px;
    margin-right: 20px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

#confirmDialog button:last-child {
    margin-right: 0;
}

#confirmBtn:hover {
    background-color: #00704A;
    color: white;
}

#cancelBtn:hover {
    opacity: 0.8;
    background-color: #585d60;
    color: white;
}

@media screen and (max-width: 640px) {
    #searchForm {
        margin-top: 12%;
        margin-bottom: -2%;
        width: 80%;
    }

    #recommend {
        font-size: 0.7rem;
        height: 12px;
        line-height: 20px;
    }

    #bookmark {
        font-size: 0.8rem;
        height: 28px;
        line-height: 28px;
    }

    #registerPage, #logout, #admButton {
        width: 28%;
        font-size: 0.6rem;
        font-weight: bold;
        height: 24px;
    }

    #logout, #admButton {
        width: 20%;
    }

    #admButton {
        right: 24%;
    }

    #menuButton {
        width: 32px;
        height: 32px;
        font-size: 1.2rem;
        margin-left: 0px;
    }

    #sidemenu {
        width: 280px;
        height: 72vh;
        left: -290px;
    }

    label {
        font-weight: bold;
    }

    #legendSet {
        font-size: 0.8rem;
        font-weight: bold;
    }

    #andSearch {
        font-size: 0.5rem;
    }

    fieldset > label {
        margin-right: 2%;
        font-size: 0.6rem;
    }

    #trOmise {
        font-size: 0.9rem;
        font-weight: bold;
        height: 28px;
    }

    #divGenre {
        width: 80%;
        font-size: 0.6rem;
        font-weight: bold;
        height: 18px;
    }

    #tdArea {
        font-size: 0.6rem;
        width: 46%;
    }

    #spanSpace {
        font-size: 0.4rem;
    }

    #tdSituation {
        font-size: 0.6rem;
        width: 22%;
    }

    #tdMemo {
        font-size: 0.6rem;
        width: 32%;
    }

    #trUrl {
        font-size: 0.5rem;
        height: 5px;
    }

    #urlCSS {
        font-size: 0.5rem;
    }

    #divDetail, #divDelete {
        font-size: 0.6rem;
        width: 84%;
        height: 16px;
    }

    #resultField {
        width: 100%;
        margin-left: 4px;
        margin-right: -5px;
        /* font-size: 0.6rem; */
    }

    table {
        /* width: 100%; */
    }

    #textKey::placeholder {
        font-size: 0.6rem;
    }

    #confirmDialog {
        width: 80%;
    }

}